In [1]:
import requests

In [2]:
import pandas as pd
df = pd.read_csv('130001_tokyo_covid19_patients_per_report_date.csv')

In [7]:
df = df[['公表_年月日', '日別陽性者数']]

In [8]:
df.rename(columns={'公表_年月日': 'Dates', '日別陽性者数': 'The_positive_cases'}, inplace=True)

/var/folders/qy/6hhj9p8x12vd7qr4yhjck7vc0000gn/T/ipykernel_15337/2416884983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'公表_年月日': 'Dates', '日別陽性者数': 'The_positive_cases'}, inplace=True)

In [9]:
df

           Dates  The_positive_cases
0     2020-01-20                   0
1     2020-01-21                   0
2     2020-01-22                   0
3     2020-01-23                   0
4     2020-01-24                   1
...          ...                 ...
1200  2023-05-04                 994
1201  2023-05-05                 906
1202  2023-05-06                1062
1203  2023-05-07                2345
1204  2023-05-08                1331

[1205 rows x 2 columns]

In [10]:
df['Dates'] = pd.to_datetime(df['Dates'])

/var/folders/qy/6hhj9p8x12vd7qr4yhjck7vc0000gn/T/ipykernel_15337/2452315616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Dates'] = pd.to_datetime(df['Dates'])

In [11]:
df_monthly = df.resample('M', on='Dates').sum()
df_monthly['Dates'] = df_monthly.index.strftime('%Y-%m-01')
df_monthly = df_monthly[['Dates', 'The_positive_cases']]
df_monthly

/var/folders/qy/6hhj9p8x12vd7qr4yhjck7vc0000gn/T/ipykernel_15337/973071097.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_monthly = df.resample('M', on='Dates').sum()

                 Dates  The_positive_cases
Dates
2020-01-31  2020-01-01                   3
2020-02-29  2020-02-01                  34
2020-03-31  2020-03-01                 489
2020-04-30  2020-04-01                3748
2020-05-31  2020-05-01                 957
2020-06-30  2020-06-01                 994
2020-07-31  2020-07-01                6464
2020-08-31  2020-08-01                8125
2020-09-30  2020-09-01                4918
2020-10-31  2020-10-01                5350
2020-11-30  2020-11-01                9861
2020-12-31  2020-12-01               19369
2021-01-31  2021-01-01               40367
2021-02-28  2021-02-01               10997
2021-03-31  2021-03-01                9310
2021-04-30  2021-04-01               18075
2021-05-31  2021-05-01               21871
2021-06-30  2021-06-01               12977
2021-07-31  2021-07-01               44448
2021-08-31  2021-08-01              129193
2021-09-30  2021-09-01               31929
2021-10-31  2021-10-01                2134
2021-11-30  2021-11-01                 542
2021-12-31  2021-12-01                 905
2022-01-31  2022-01-01              194563
2022-02-28  2022-02-01              416171
2022-03-31  2022-03-01              256738
2022-04-30  2022-04-01              188021
2022-05-31  2022-05-01              101664
2022-06-30  2022-06-01               58556
2022-07-31  2022-07-01              567728
2022-08-31  2022-08-01              757621
2022-09-30  2022-09-01              244023
2022-10-31  2022-10-01              100143
2022-11-30  2022-11-01              257031
2022-12-31  2022-12-01              462603
2023-01-31  2023-01-01              279887
2023-02-28  2023-02-01               47190
2023-03-31  2023-03-01               23072
2023-04-30  2023-04-01               36567
2023-05-31  2023-05-01               12266

In [16]:
df_monthly['Dates'] = df_monthly['Dates'].str[:-1]
#df_monthly['Dates'] = pd.to_datetime(df_monthly['Dates']).dt.to_period('M')

In [17]:
df_monthly.to_csv('monyhtly_covid.csv')